.text-center{ 
	text-align: center !important;
}
.margin-big{
	margin-bottom: 3rem !important;
}
.margin-medium{
	margin-bottom: 1.7rem !important;
}
.margin-small{
	margin-bottom: 1rem !important;
}
.margin-top{
	margin-top: 4.5rem !important;
}