//colors
$color-purple:#833ab4;
$color-red-light:#fd1d1d;
$color-yellow:#f5d917e3;
$color-black:black;
$color-grey-light:#edf5f7;
$color-white:white;
$color-grey: #cacaca;
$color-footer: #333;

$color-heading: #3e4555;
$color-text: #948a99;

//GRID
$grid-width: 90%;
$gutter-vertical: 4rem;
$gutter-horizontal: 2rem;

// FONT SIZE
$section-heading-size: 1.5rem;
$sub-heading-size: 1.1rem;
$text-size: .93rem;